<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>《问道》手游新服预约来玩就送绝版周年宠</title>
	<meta name="Description" content="《问道》手游周年版新服开启，预约100%赢明星礼包，来玩就送绝版周年宠" />
	<meta name="Keywords" content="问道手游，新服预约，周年宠，薛之谦，1周年" />
	
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta content="telephone=no" name="format-detection" />

	<link rel="stylesheet" href="css/m_base.css">
	<link rel="stylesheet" href="css/m_common.css">
	<link rel="stylesheet" href="css/m_paging.css">
	<script src="js/remReSize.750.js"></script>
</head>

<body>
<div class="m_body pr">
	<div class="header">
		<a href="http://wd.leiting.com/" class="icon_logo pa "></a>
		<a href="javascript:;" class="close pa "></a>
	</div>
	<div class="conts pr">
		<div class="news_details">
			<div class="news_back"><a href="javascript:;"><i></i>返回</a></div>
			<div class="news_title pr">
				<h3><strong>螺旋系列新作《螺旋英雄谭》痛快公布！</strong>
					<span>2018-04-04 10:59:03</span>
				</h3>
				<!--<a href="javascript:;" class="back i_img pa"></a>-->
			</div>
			<div class="news_cont">
				<div class="title">螺旋系列新作《螺旋英雄谭》痛快公布</div>
				<div class="cont">
					<p>KUMORA Games今日正式公布，由其自主研发的“螺旋系列”的新作《螺旋英雄谭》将于7月底开启首轮删档测试。本作中玩家将跟随三名新</p>
					<p>主角踏上全新的冒险旅程，一起探索在前作中并未被完全发掘的深奥世界的新面貌。</p>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
					11br <br>
				</div>
			</div>
		</div>
		<div class="bg_fot pa"></div>
	</div>
	<div class="footer">
		<p>Copyright © 2004-2019 <a href="http://www.leiting.com">雷霆游戏</a> 版权所有</p>
	</div>
</div>
<script src="js/zepto-1.1.6.min.js"></script>
<script src="js/m_common.js"></script>
</body>
</html>